	<div class ="post_wrapper">
		<h2 class="title"><%= link_to "Ahmed Tarek", :controller => :pages, :action => :atarek  %></h2>
	</div>
	<div class ="post_wrapper">
		<h2 class="title"><%= link_to "Ahmed Walid", :controller => :pages, :action => :walid %></h2>
	</div>
	<div class ="post_wrapper">
		<h2 class="title"><%= link_to "Amy Elmossly", :controller => :pages, :action => :amy %></h2>
	</div>
	<div class ="post_wrapper">
		<h2 class="title"><%= link_to "Aya Amr", :controller => :pages, :action => :aya %></h2>
	</div>
	<div class ="post_wrapper">
		<h2 class="title"><%= link_to "Karim Taha", :controller => :pages, :action => :karim   %></h2>
	</div>
	<div class ="post_wrapper">
		<h2 class="title"><%= link_to "Tarek El-Beih", :controller => :pages, :action => :tarek %></h2>
	</div>
	<div class ="post_wrapper">
		<h2 class="title"><%= link_to "Mohamed El-Alfy", :controller => :pages, :action => :alfy  %></h2>
	</div>
	<div class ="post_wrapper">
		<h2 class="title"><%= link_to "Rana El-Fedawy", :controller => :pages, :action => :rana  %></h2>
	</div>

