 <div class="container">
     <div class="col-lg-8">

      <h1>
        <%= @post.title %>
      </h1>
 
      <p class="lead">
      by  <%= @post.user.username %>
      </p>

      <hr>

      <p class="date"><span class="glyphicon glyphicon-time"></span><%= @post.created_at.strftime(" %B %d, %Y") %>
      </p>

      <hr>
      <p class="lead">
        <%= @post.text %>
      </p>

      <!-- old comments
      <hr>
        <%= render 'comments/comment' %>
      <hr>
        <%= render 'comments/form' %>
      <hr>
      -->

      <%= link_to like_post_path(@post), class: "like", method: :put do%>
    <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%= @post.get_upvotes.size %></span>
  </button>
  <% end %>
      
  <%=link_to unlike_post_path(@post), class: "like", method: :put do%>
    <button type="button" class="btn btn-info" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
    <span class="badge"><%= @post.get_downvotes.size %></span>
  </button>
  <% end %>
  <hr>
    <h4>Share on Twitter or Facebook or G+</h4>
        <%= social_share_button_tag(@post.title, :popup => "true") %>
  <hr>
  <% if user_signed_in? %>
    <h2>Comments</h2>
    <%= render 'comments/comment' %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  <% end %>
  <button type="button" class="btn btn-default"><%= link_to 'Back', posts_path %></button>
  <!--<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_post_path(@post) %></button>-->

</div>
</div>